# these folder is not needed when publishing to github pages
_site
# 
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
# these 2 files are not needed when publishing to github pages
# docs/Gemfile
# docs/Gemfile.lock
