<h1>display collections info - only array</h1>
<li>include filename: <b>debug.collection.col.html</b></li>

<h2>list all files of all udef categories</h2>
<b>docs property for each category</b>
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% for lCATEGORY in lLIST_CATEGORY %}
{{ lCATEGORY.label }} : 
<ol>
  {% for doc in lCATEGORY.docs %}
    <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
  {% endfor %}
</ol>
{% endfor %}

<h2>list a specific files in all udef categories</h2>
{%- comment -%} {% assign lVAR_FILENAME = 'index.md' %} {%- endcomment -%}
{% assign lVAR_FILENAME = 'whatis/project' %}
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% for lCATEGORY in lLIST_CATEGORY %}
  <ol>
    {% for doc in lCATEGORY.docs %}
      {% if doc.path contains lVAR_FILENAME %}
        <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}

<h2>list all but a specific files of all udef categories</h2>
{%- comment -%} {% assign lVAR_FILENAME = 'index.md' %} {%- endcomment -%}
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% for lCATEGORY in lLIST_CATEGORY %}
  <ol>
    {% for doc in lCATEGORY.docs %}
      {% unless doc.path contains lVAR_FILENAME %}
        <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
      {% endunless %}
    {% endfor %}
  </ol>
{% endfor %}



<h2>list  of 1 udef category</h2>
<h3>all files</h3>
{% assign lVAR_CATEGORY = 'tools' %}
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label == lVAR_CATEGORY' %}
{% for lCATEGORY in lLIST_CATEGORY %}
{{ lCATEGORY.label }} : 
<ol>
  {% for doc in lCATEGORY.docs %}
    <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
  {% endfor %}
</ol>
{% endfor %}

<h3>exclude some files</h3>
