<h1>list fromtmatter reference</h1>
<li>include filename: <b>debug.reference.html</b></li>

<h2>reference property</h2>
<ul>
{% for lLIST_REF in page.mx.ref %}
{% assign lREF_TOPIC_CLASSIFIER  = lLIST_REF | split: '/' | slice: 0 | first %}
{% assign lREF_TOPIC_NAME        = lLIST_REF | split: '/' | slice: 1 | first %}
  <li> lREF_TOPIC_CLASSIFIER = {{ lREF_TOPIC_CLASSIFIER }}</li>
  <li> lREF_TOPIC_NAME = {{ lREF_TOPIC_NAME }}</li>
{% endfor %}
</ul>

<h2>list specific files of all udef categories</h2>
{% assign lVAR_FILENAME = lREF_TOPIC_CLASSIFIER | append: '/' | append: lREF_TOPIC_NAME %}
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% for lCATEGORY in lLIST_CATEGORY %}
  <ol>
    {% for doc in lCATEGORY.docs %}
      {% if doc.path contains lVAR_FILENAME %}
        <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}

<h3>Put all together</h3>
{% assign lLIST_CATEGORY = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% for lLIST_REF in page.mx.ref %}
{% assign lREF_TOPIC_CLASSIFIER  = lLIST_REF | split: '/' | slice: 0 | first %}
{% assign lREF_TOPIC_NAME        = lLIST_REF | split: '/' | slice: 1 | first %}
{% assign lVAR_FILENAME          = lREF_TOPIC_CLASSIFIER | append: '/' | append: lREF_TOPIC_NAME %}
{% for lCATEGORY in lLIST_CATEGORY %}
  <ol>
    {% for doc in lCATEGORY.docs %}
      {% if doc.path contains lVAR_FILENAME %}
        <li>{{ doc.collection }} - {{ doc.path }} - {{ doc.url }}</li>
        <li><a href='{{ doc.url }}'>{{lVAR_FILENAME}}</a> - {{ doc.url }}</li>
      {% endif %}
    {% endfor %}
  </ol>
{% endfor %}
{% endfor %}



